name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup SSH Key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/ec2_key
          chmod 600 ~/.ssh/ec2_key

      - name: Add EC2 Server to known_hosts (Security Recommended)
        run: |
          ssh-keyscan -H 3.24.240.85 >> ~/.ssh/known_hosts

      - name: Run Deployment Script on EC2
        run: |
          ssh -i ~/.ssh/ec2_key ubuntu@3.24.240.85 "cd /home/ubuntu && bash deploy.sh"
